/* ===== VARS ===== */

:root {
  --blue: #0353a4;
  --white: #ffffff;
  --balck: #151515;
  --orange: #ff7f11;
  --gray: #b8b6b9;
  --hellBlau: #14fff7;
}

/* ===== FONT ==== */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&display=swap");

/* ===== css reset ===== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

/* ===== oldal osszefogo ===== */

body {
  background-color: #151515;
}

.wrapper {
  width: 80%;
  margin: 10px auto;
  background-color: #b8b6b9;
}

/* ===== HEADER ===== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-size: 2.4rem;
  margin: 20px 0 20px 20px;
}

nav {
  margin: 0 20px 0 0;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: black;
  text-transform: uppercase;
  font-size: 1.4rem;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* ===== MAIN ===== */

.content-container h1 {
  font-size: 2.5rem;
  margin: 20px;
}

.content-container p {
  font-size: 1.8rem;
  margin: 0 20px;
}
